<div class="header">
  <h2><strong>Permisos</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i> Crear | Modificar <strong>Permisos</strong></h3>
      </div>
      <div class="panel-content">
        <p>Favor de escoger un Nombre de Permiso para Editar, o simplemente Asigne un nombre y de Guardar para que se guarde un nuevo Permiso.</p>
        <div class="row">
          <div class="col-md-6">
            <h3><strong>Registro</strong></h3>
            <div class="panel-group panel-accordion" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#users">
                      Usuarios
                    </a>
                  </h4>
                </div>
                <div id="users" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-md-6">
                      General
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Crear
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Modificar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Eliminar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Ver
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#clients">
                      Clientes
                    </a>
                  </h4>
                </div>
                <div id="clients" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-md-6">
                      General
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Crear
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Modificar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Eliminar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Ver
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#branches">
                      Sucursales
                    </a>
                  </h4>
                </div>
                <div id="branches" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-md-6">
                      General
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Crear
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Modificar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Eliminar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Ver
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#products">
                      Productos
                    </a>
                  </h4>
                </div>
                <div id="products" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-md-6">
                      General
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Crear
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Modificar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Modificar Precios
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Eliminar
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      Ver
                    </div>
                    <div class="col-md-6">
                      <label class="switch switch-green">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/views/users.js"></script>
<div class="modal fade" id="modal-bootstrap-timepicker" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        <h4 class="modal-title"><strong>Seleccion de </strong> Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="users">Usuarios</label>
              <select id="all_users" class="form-control">
                <option value="NA">Cargando Usuarios</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gray-light">
        <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancelar</button>
        <button onclick="onClickSelect()" type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
